@import 'imports/normalize.css';
@import 'imports/main.css';

/* GENERAL
==============================================================================*/
html {
	position: relative;
}
html * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	}

body {
	padding:1em;
	color: #333;
	width:1152px;
	margin:auto;
}
h1,h2,h3,h4,h5,h6 {
	font-family: Futura, "Futura MdCn BT", "Futura BdCn BT";
	font-weight: normal;
}
p {	margin-top:0;	}
a {text-decoration:none;}
a:hover {text-decoration:underline;}

/* ID/CLASS RULES
==============================================================================*/
div.toc .global {
	float:right;
}
div.toc .local {
	float:left;
	margin-right: 1em;
}
details.level-2,
details.level-3,
div.level-2,
div.level-3 {
	position: relative;
	width:100%;
	float:left;
	padding:2em 3em;
	margin-top:1em;
}
div.content > details.level-2:first-child,
div.content > details.level-3:first-child,
div.content > div.level-2:first-child,
div.content > div.level-3:first-child,
div.content > p + details.level-2,
div.content > p + details.level-3
div.content > p + div.level-2,
div.content > p + div.level-3 {
	margin-top: 0;
}
.level-2 a {color:#FFCC99;}
.level-3 a {color:#CC7700;}

details.level-2,
div.level-2 {
	background-color: #666;
	color: #eee;
}
details.level-3,
div.level-3 {
	background-color: #ddd;
	color: #333;
}
details.level-2 h2,
div.level-2 h2{
	color: #eee;
}
body > div,
body > section,
div.p-img {
	float:left;
	clear:both;
	width:100%;
}
ol.steps li {
	float:left;
	border-top:1px dotted;
	padding-top: 1em;
}
ol.steps li > div {
	margin-top:0;
}
.step {
	border-top:1px dotted;
	padding-top: 1em;
}
div.quote {
	width:100%;
}
ul.no-bullet,
ol.no-bullet {
	list-style-type:none;
}

/* NAVIGATION ELEMENTS
==============================================================================*/
div.section-nav a{
	padding: .5em;
	font-size: 2em;
	font-weight: bold;
	display: block;
	width: 50%;
	float: left;
	text-decoration: none;
}
div.section-nav  a:hover{
	text-decoration: none;
	background-color: #ddd;
}
div.section-nav  a.next{
	text-align: right;
}
div.level-nav a {
	display: inline-block;
	font-style: italic;
	/* float: left; */
	/* clear: left; */
	padding: .5em;
}
div.level-nav a.up:after {
	content: " ^";
	font-style: italic;
}
div.level-nav a.top:after {
	content: " ^^";
	font-style: italic;
}
.inactive .level-nav {
	display: none;
	visibility: hidden;
}

summary:hover:has(> h2.ctrl),
h2.ctrl:hover {
	background-color:#777;
}
h3.ctrl:hover {
	background-color:#ccc;
}
.ctrl {
	cursor: pointer;
}

/* IMAGES
==============================================================================*/

div.p-img {
	margin-bottom:1em;
	margin-top:1em;
}
p.img {
	margin-left:1em;
}
div.p-img p + p {
	float:none;
}
div.p-img p.img {
	float:right;
	clear:right;
}

/* Collapsible sections */
details summary {
	display: list-item;
	cursor: pointer;
	margin-bottom: -10px; /* for more prominent move */
	transition: margin 150ms ease-out;
}
summary:has(> h1) {
	margin-top: 1.34em;
}
summary:has(> h2) {
	margin-top: 1.245em;
}
summary:has(> h3) {
	margin-top: 1.17em;
}
details[open] summary:has(> h1) {
	margin-bottom: 1.34em;
}
details[open] summary:has(> h2) {
	margin-bottom: 1.245em;
}
details[open] summary:has(> h3) {
	margin-bottom: 1.17em;
}

summary > h1,
summary > h2,
summary > h3 {
	display: inline-block;
	margin: 0;
}
